<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
        <rewrite>
			<rules>

				<rule name="Habbo Imaging Group Badges">
                    <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
				</rule>
                <rule name="Habbo Imaging Avatarimage 1">
                    <match url="^habbo-imaging/avatar/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatarimage.php?figure={R:1}" appendQueryString="false" />
				</rule>
                <rule name="Habbo Imaging Avatar Image 2">
                    <match url="^habbo-imaging/avatarimage/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/avatarimage.php?username={R:1}" appendQueryString="false" />
				</rule>
                <rule name="Habbo Imaging Avatar Head">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
				</rule>

                <rule name="Imported Rule Slopt">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				</rule>
				 <rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Rule 112">
					<match url="^swf/habbo-imaging/badge/([^/]+)" ignoreCase="false" />
					<action type="Rewrite" url="/swf/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
				</rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=news&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule 131234" stopProcessing="true">
                    <match url="home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=home&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Rank" stopProcessing="true">
                    <match url="adminpan/gebrank/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebrank&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule Rank List HK" stopProcessing="true">
                    <match url="adminpan/ranklist/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=ranklist&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBadge" stopProcessing="true">
                    <match url="adminpan/badges/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=badges&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteReport" stopProcessing="true">
                    <match url="adminpan/report/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=report&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>